* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.d-none {
    display: none;
}

.header-container {
    background-color: aliceblue;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
}

h1 {
    font-size: 32px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#1e4f2b;
}

.general-details {
    display: flex;
    width: 100%;
}

.form-element {
    margin-bottom: 10px;
}

.general-details-item {
    flex-basis: 50%;
    margin: 20px;
}

.general-details-item .input-box {
    width: 70%;
    text-align: center;
    border: 1px solid;
    padding: 5px;
    height: 30px;
    border-radius: 7px;
    margin: 10px;
    font-size: 16px;
    background-color: aliceblue;
}

.stakeholders-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    flex-basis: 50%;
    margin: 20px;
}

.item .input-box {
    width: 70%;
    text-align: center;
    border: 1px solid;
    padding: 5px;
    height: 30px;
    border-radius: 7px;
    margin: 10px;
    font-size: 16px;
    background-color: aliceblue;
}

.one-product {
    display: flex;
    justify-content: center;
}

.one-product div {
    flex-basis: 33%;
    margin: 10px;
}

.one-product .input-box {
    width: 50%;
    text-align: center;
    border: 1px solid;
    padding: 5px;
    height: 30px;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
}

.product-list {
    border: 1px solid;
    border-radius: 10px;
    margin: 20px;
    margin-right: 100px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    width: 250px;
    text-align: center;
    height: 30px;
    border: 1px solid;
    border-radius: 7px;
    font-size: 16px;
    margin: 5px;
    padding: 5px;
}

.logistics-details-container .input-box{
    width: 85%;
    background-color: aliceblue;
}

.one-product label {
    display: block;
}

.other-details-container {
    display: flex;
    flex-direction: column;
}

.other-details-item {
    margin: 20px;
}

.other-details-item .input-box {
    width: 90%;
    height: 30px;
    border: 1px solid;
    border-radius: 7px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: aliceblue;
    font-size: 16px;
}

table {
    width: 90%;
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th {
    text-align: center;
    border: 1px solid;
    border-color: black;
    background-color: blue;
    color: white;
    height: 30px;
}

td {
    text-align: center;
    border: 1px solid;
    height: 30px;
}

table#general-table td, table#stakeholder-table td{
    width: 50%;
}

table#logistics-table td {
    width: 33%;
}

table#general-table {
    width: 30%;
    margin-right: 5%;
}


.general-table-container {
    display: flex;
    justify-content: right;
}

table#product-table tr td:last-child {
    background-color: lightgray;
}

#stakeholder-table, #logistics-table, #product-table {
    margin-left: 5%;
    margin-right: 5%;
}

#product-table tr:last-child {
    background-color: lightgray;
}

.additional-info-container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.additional-info-item {
    flex-basis: 50%;
}

.date-container, #other-table {
    width: 100%;
    margin: 0;
}

.additional-info-container td {
    height: 30px;
    font-size: 16px;
}

.signature {
    height: 80px;
    border: 1px solid;
    padding: 8px;
    display: flex;
    justify-content: right;
    align-items: end;
}

.note-container {
    height: 200px;
    border: 1px solid;
    padding: 8px;
}

.address {
    background-color: lightgray;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    border: 1px solid;
}

.address p {
    text-align: center;
}
